.container {
    column-count: 4;
  }

  body {
    width: 90%;
    max-width: 600px;
    background-color: antiquewhite;
    color: brown;
    margin: 4em auto;
    font:
      0.9em/1.2 Arial,
      Helvetica,
      sans-serif;
  }