body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

nav {
  perspective: 1000px;
}

.cube {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg);
  transition: transform 0.3s ease;
}

.cube:hover {
  transform: rotateX(45deg) rotateY(225deg) rotateZ(45deg);
}

.cube a {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
