#navbar {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden to the left */
    width: 200px;
    height: 100%;
    background-color: #b4acac;
    color: white;
    transition: left 0.3s;
    overflow-y: auto; /* Add scrollbar if needed */
}

#navbar-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px; /* Set the width of the container */
    height: 100%;
    overflow-x: hidden;
    transition: width 0.5s ease; /* Adjust the transition duration as needed */
    border-top-right-radius: 20px; /* Adjust the radius as needed */
    border-bottom-right-radius: 20px; /* Adjust the radius as needed */
}

#navbar-container:hover {
    width: 400px; /* Expand the container width on hover */
}

#navbar ul {
    list-style-type: none;
    padding: 0;
}

#navbar li {
    padding: 10px;
}

#navbar {
    transition: left 0.3s ease; /* Use a smooth easing function */
}

#navbar a {
    color: white;
    text-decoration: none;
}

#content {
    margin-left: 250px; /* Adjust to match the width of the navbar */
    padding: 20px;
}