body {
    background-color: rgb(144, 158, 191);
    color:blanchedalmond;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

button {
    border-radius: 50px;
    padding: 10px;
    border: none;

}

button:hover{
    background-color: rgb(61, 182, 63);
}

input {
    background-color: rgb(255, 255, 255);
    
}

input:hover {
    background-color: rgb(249, 249, 209);
}

div{
    /* writing-mode: vertical-rl; */
    text-orientation: mixed;
}

p {
    background-color: white;
    color: black;
    width: 100px;
    padding: 10px;
    border-radius: 50px;
    margin: 30px;
    position: fixed;
    bottom: 0px;
    right: 0px; 
}

p:hover {
    background-color: rgb(255, 48, 83);
    color:black;
}